<footer class="site-footer">
   <div class="footer-content">
     <div class="footer-section">
       <h3>Sobre mim</h3>
       <p>I am Angular student.</p>
     </div>
     <div class="footer-section">
       <h3>Useful Links</h3>
       <ul>
         <li><a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">My Youtube Channel</a></li>
         <li><a href="#">Serviços</a></li>
         <li><a href="#">Contacto WhatsApp</a>: +315 999999999</li>
       </ul>
     </div>
     <div class="footer-section">
       <h3>Social Media</h3>
       <div class="social-links">
         <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">Facebook</a>
         <a href="https://github.com/alupinha" target="_blank" rel="noopener noreferrer">GitHub</a>
       </div>
     </div>
   </div>
   <div class="footer-bottom">
     <p>&copy; 2025 All rights reserved.</p>
     <p>&copy; A Start this class since 12/04/2025. Today ... {{ this.dateTime.toLocaleString()+ ' . ' }} Created by Paula . Visit my  <a href="https://github.com/alupinha" target="_blank" rel="noopener noreferrer">GitHub for more.</a></p>
       <p> <small>
       Angular&reg; and the Angular logo are registered trademarks of Google LLC.<br>
       Firebase&reg; and the Firebase logo are registered trademarks of Google LLC.<br>
       This project is an independent application and is not affiliated with, endorsed by, or sponsored by Google Inc.
     </small></p>
   </div>
  </footer>
