<header class="header">
  <div class="local-header">
    <div class="local-header-content-left"></div>
    <div class="local-header-content">
      <h1>Welcome to the Paula´s Site in Angular .</h1>
      <p>Estou a aprender Angular!</p>
      < class="local-header-content-right"><app-avatar></app-avatar>app-avatar><div>
    </div>
  </div>
  <div class="nav-content">
    <a routerLink="/welcome" class="logo-link">Welcome</a>
    <a routerLink="/class-git-install" class="logo-link">Sobre</a>
    <a routerLink="/class/angular-install" class="logo-link">Paula</a>
    <a routerLink="/class/signin" class="logo-link">Signin</a>
    <div class="spacer"></div>
  </div>
</header>

