<header class="header">
  <div class="local-header">
    <div class="local-header-content-left"></div>
    <div class="local-header-content">
      <h1>Welcome to my place.</h1>
      <p>Be ready to be more!</p>
      <div class="local-header-content-right"><app-avatar></app-avatar></div>
    </div>
  </div>
  <div class="nav-content">
    <a routerLink="/wellcome" class="logo-link">Wellcome</a>
    <a routerLink="/class/git-install" class="logo-link">About</a>
    <a routerLink="/class/angular-install" class="logo-link">Uc....</a>
    <a routerLink="/class/signin" class="logo-link">SignIn</a>
    <div class="spacer"></div>
  </div>
  </header>

